@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #171a20;
  --dark-gray: #393c41;
  --gray: #5c5e62;
  --light-gray: #f4f4f4;
  --blue: #3e6ae1;
  --light-blue: #f4f4f4;
}

body {
  color: var(--dark-gray);
  background: var(--white);
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.disable {
  opacity: 0.5;
  cursor: not-allowed;
}

h1 {
  color: var(--black);
  font-size: 20px;
}
